@page
@model ContactModel

<div id="contactTitle">
    <h1>Contact</h1>
    <hr class="myLine" width=100%>
</div>


<div class="contactInfo">
    <h2>
        This is a project for the Introduction to C# and ASP.NET Programming taught by Michael
        Lewis for <a href="https://www.trios.com/programs-courses/technology/enterprise-web-and-mobile-developer/">Enterprise Web and Mobile Developement</a>
        at triOS College
    </h2>
</div>

<div class="contactInfo">
    <h3>
        Please reach out at:
    </h3>
    <h4>
        <a href="https://www.linkedin.com/in/allaura-hanley-187a641a1/">Linkedin</a><br />
        <a href="https://github.com/allaura-dev">GitHub</a>
    </h4>
</div>


