@page
@model ErrorModel

<body onload="javascript:setTimeout('backToIndex();', 5000)">

    <h1>Error</h1>

    <h3>You Have entered incorrect information. Please only enter the following:</h3><br />

    <ul id="errorList">
        <li>Actor Full Name</li>
        <li>Movie Full Name</li>
        <li>Partial Name of Movie Or Actor</li>
        <li>Do not use special characters</li>
    </ul><br />

    <h2 style="clear:both; padding-top: 50px;">Please <a asp-page="/Index" style="color: #080838;">Refresh</a> the page if it does not refresh in 5 seconds.</h2>
</body>



